@font-face {
    src: url('Roboto.ttf');
}

* {
	-fx-font-family: "Roboto";
	-fx-primary-color: #9FA8DA;
	-fx-secondary-color: #212121;
	-fx-light-grey-color: #a1a1a1;
	-fx-base: #212121;
}

.root {
	-fx-background-color: #121212;
	-fx-font-family: "Roboto";
}


.card {
	-fx-background-color: #212121;
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-border-color: #303030;
	-fx-border-width: 1;
	-fx-padding: 15;
}

.label{
	-fx-text-fill: #a1a1a1;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-font-family: "Roboto";
}

.table-view{
    -fx-background-color: #212121;
	-fx-border-width: 1;
	-fx-border-color: #303030;
	-fx-background-radius: 4;
	-fx-border-radius: 4;
}

.table-view:focused{
    -fx-background-color: #212121;
}

.table-view .column-header-background{
    -fx-background-color:#212121;
    -fx-border-color: #9FA8DA;
    -fx-border-width: 0px 0px 1px 0px ;
    -fx-border-style: solid;
	
}
.table-view:row-selection .column-header-background .filler{
    -fx-background-color:#212121;
}
.table-view:row-selection .column-header-background .show-hide-columns-button{
    -fx-background-color:#212121;
}

.table-view .column-header-background .label,
.table-view .placeholder .label {
    -fx-background-color: transparent;
    -fx-text-fill: #a1a1a1;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
	
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 50px;
}
.table-view  .table-column{
	-fx-alignment: CENTER;
    -fx-padding: 18 0 0 10;
    -fx-border-width: 0px 0px 0px 0px ;
}

.table-view .table-row-cell{
    -fx-background-color:#212121;
    -fx-font-size:14px;
    -fx-pref-height:50px;
    -fx-border-width: 0px 0px 1px 0px ;
    -fx-border-color:#303030; 
}
.table-view .table-cell {
	-fx-text-fill: #7e7e7e;
}

.table-view .table-row-cell:hover {
    -fx-background-color:#212121;
} 

.table-view .table-row-cell:selected{
    -fx-background-color: #212121;
} 
.table-view:row-selection .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:#212121;
    -fx-border-color:#303030;
}
.table-view .table-row-cell:empty{
    -fx-background-color:#212121;
    -fx-border-color:#303030;
} 

.add-btn{
	-fx-background-color: -fx-primary-color;
	-fx-border-width: 0;
	-fx-background-radius: 50%;
	-fx-border-radius: 50%;
	-fx-border-width: 0;
	-fx-max-width: 70;
	-fx-max-height: 70;
	-fx-min-width: 70;
	-fx-min-height: 70;
}
.add-btn:hover {
	-fx-background-radius: 45%;
	-fx-border-radius: 45%;
}
	

.modal {
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

.text-field {
	-fx-background-color: #212121;
	-fx-text-fill: #a1a1a1;
	-fx-font-size: 16px;
	-fx-font-family: "Roboto";
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-border-color: #303030;
	-fx-border-width: 1;
	-fx-padding: 5;
}

.text-field:active, .text-field:focused, .text-field:hover,
.text-field .spinner, .date-picker, .date-picker .spinner {
	-fx-background-color: #212121;
	-fx-text-fill: #a1a1a1;
	-fx-font-size: 16px;
	-fx-font-family: "Roboto";
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-border-color: #303030;
	-fx-border-width: 1;
}

.increment-arrow-button, .decrement-arrow-button {
	-fx-background-color: -fx-secondary-color;
	-fx-text-fill: #a1a1a1;
	-fx-font-size: 12px;
	cursor: hand;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-secondary-color;
	-fx-background-radius: 0;
	-fx-cursor: hand;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: -fx-secondary-color;
	-fx-border-color: #303030;
	-fx-text-fill: -fx-light-grey-color;
	-fx-cursor: hand;
}
.date-picker .cell:hover {
	-fx-border-color: #303030;
	-fx-text-fill: white;
}
.date-picker .cell:focused {
	-fx-border-color: #303030;
	-fx-text-fill: -fx-primary-color;
}
.date-picker .selected {
	-fx-border-color: -fx-primary-color;
	-fx-text-fill: -fx-primary-color;
}
.date-picker .selected:focused {
	-fx-border-color: -fx-primary-color;
	-fx-text-fill: -fx-primary-color;
}

.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-secondary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-light-grey-color;
}
.date-picker-popup .spinner .button {
	-fx-background-color: -fx-secondary-color;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-width: 0;
	-fx-cursor: hand;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

.mybutton {
	-fx-border-color: #303030;
	-fx-background-color: -fx-secondary-color;
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-border-width: 2;
	-fx-text-fill: -fx-light-grey-color;
	-fx-font-size: 16px;
	-fx-font-family: "Roboto";
	-fx-padding: 5;
	-fx-min-width: 100;
	-fx-min-height: 40;
}

.mybutton:hover {
	-fx-border-color: -fx-primary-color;
	-fx-text-fill: -fx-primary-color;
}

.progress-indicator {
	-fx-background-color: -fx-secondary-color;
	-fx-border-width: 0;
	-fx-progress-color: -fx-primary-color;
}